{%extends "layout.html"%}
{%block title%} Samuel Okwalinga {%endblock%}
{%block content%}

  <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <div class="hero-container" data-aos="fade-in">
        <h1>Samuel Okwalinga</h1>
        <p>
          <span class="typed"
            data-typed-items="Software Developer, Philomath, Melophile, SDG3|9, Advocate (INFJ-T)"></span>
        </p>
      </div>
    </section>
  <!-- End Hero -->


 <!-- ======= Main ======= -->
 <main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{url_for('static', filename='img/profile-img.jpg')}}" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Mobile &amp; Web App Developer.</h3>
          <p class="font-italic">
            Currently developing mobile apps using Flutter and Web apps using
            the MERN Stack.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="icofont-whatsapp"></i>
                  <strong>Phone:</strong> +256 773 571 605
                </li>
                <li>
                  <i class="icofont-google-map"></i>
                  <strong>City:</strong> Kampala, Uganda
                </li>
              </ul>
            </div>
            <div class="email"></div>
            <div class="col-lg-6">
              <ul>
                <li>
                  <i class="icofont-learn"></i>
                  <strong>Education:</strong> Academic | Bootcamp |
                  Self-taught
                </li>
                <li>
                  <i class="icofont-envelope"></i>
                  <strong>Email:</strong> sookwalinga@gmail.com
                </li>
              </ul>
            </div>
          </div>
          <p>
            I am a software developer passionate about writing clean scalable code that delivers real value to the
            end-user taking into account accessibility, best practices and SEO. I am highly motivated to continue
            learning and improving my craft. To me it is not enough for code to work, it should also make sense to
            me
            and to others. Talking about code and working with other passionate software developers is more of a
            hobby
            to me.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>As of October, 2023.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Samuel Okwalinga</h4>
            <p>
              <em>I am a software developer, passionate about writing scallable clean code that is easy to read and
                delivers real value to the end user.</em>
            </p>
            <ul>
              <li>Kampala, Uganda</li>
              <li>(+256) 773 571 605</li>
              <li>sookwalinga@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-title">
            <button type="button" class="btn btn-outline-info" style="font-size: small;"><a
                href="https://photos.app.goo.gl/u19zkogiDkM61Sb6A" target="_blank">VIEW CERTIFICATES</a></button>
          </div>
          <div class="resume-item">
            <h4>Software Engineering</h4>
            <h5>2023</h5>
            <p><em>ALX</em></p>
            <p>Fullstack web development training.</p>
          </div>
          <div class="resume-item">
            <h4>Software Engineering Bootcamp</h4>
            <h5>2020 - 2021</h5>
            <p><em>Clarke International University - Refactory</em></p>
            <p>Bootcamp - full stack web development</p>
          </div>
          <div class="resume-item">
            <h4>Mobile App Development Accelerator Bootcamp</h4>
            <h5>2020</h5>
            <p><em>EMobilis Training Institute, Kenya</em></p>
            <p>Android App Development Accelerator Bootcamp.</p>
          </div>
          <div class="resume-item">
            <h4>CCNA</h4>
            <h5>2016</h5>
            <p><em>Makerere University, Uganda</em></p>
            <p>CCNA. Computer Networks Security.</p>
          </div>
          <div class="resume-item">
            <h4>Telecommunications Engineering</h4>
            <h5>2014</h5>
            <p><em>Makerere University, Uganda</em></p>
            <p>Telecommunications Engineering.</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>World Merit</h4>
            <h5>August, 2021 - Present</h5>
            <p><em>Frontend Software Developer</em></p>
            <ul>
              <li>React, NextJS Developer.</li>
              <li>WordPress Developer.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Neuwelt Uganda</h4>
            <h5>April - July, 2021</h5>
            <p><em>Intern - Software Developer</em></p>
            <ul>
              <li>Mobile and Web app development.</li>
              <li>WordPress Developer.</li>
              <li>ReactJS & React Native.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Refactory Uganda</h4>
            <h5>September, 2020 - July, 2021</h5>
            <p><em>Bootcamp - Software Developer</em></p>
            <ul>
              <li>Mobile and Web app development.</li>
              <li>ReactJS & React Native.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Talanta Sports Agency</h4>
            <h5>Dec, 2020 - Present</h5>
            <p><em>Part-time Software Developer</em></p>
            <ul>
              <li>UX/UI Designing of the web app.</li>
              <li>Project planning under the project manager.</li>
              <li>Web App Development</li>
              <li>NextJS & Flutter.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Section -->

  <!-- ======= Tools Section ======= -->
  <section class="facts">
    <div class="container">
      <div class="section-title">
        <h2>Tools of Trade</h2>
        <p>Some of the tools and frameworks I often use.</p>
      </div>

      <div class="row no-gutters">
        <div class="align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <img src="{{url_for('static', filename='img/frameworks/react.png')}}" alt="React js" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/nextjs.png')}}" alt="Next JS" style="height: 65px" />
            <img src="{{url_for('static', filename='img/frameworks/flutter.png')}}" alt="Flutter" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/materialUI.png')}}" alt="Material UI" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/tailwind.png')}}" alt="Tailwind CSS" style="height: 55px" />
            <img src="{{url_for('static', filename='img/frameworks/nodejs.png')}}" alt="nodejs" style="height: 55px" />
            <img src="{{url_for('static', filename='img/frameworks/git.png')}}" alt="Git" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/mongodb.png')}}" alt="mongodb" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/firebase.png')}}" alt="firebase" style="height: 35px" />
            <img src="{{url_for('static', filename='img/frameworks/figma.png')}}" alt="figma" style="height: 45px" />
            <img src="{{url_for('static', filename='img/frameworks/trello.png')}}" alt="trello" style="height: 45px" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Tools Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Below are some projects I have done - web and mobile apps.</p>
      </div>
      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Mobile</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/portfolio/green-mile-connection.png')}}" class="img-fluid" alt=""
              style="width: 20rem" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='img/portfolio/green-mile-connection.png')}}" data-gall="portfolioGallery" class="venobox"
                title="Web 1" style="width: 20rem"><i class="bx bx-plus"></i></a>
              <a href="green_mile" title="More Details"><i class="bx bx-link"></i></a>
              <a href="https://green-mile-connection.netlify.app/" title="Webpage" target="_blank"><i
                  class="icofont-web"></i></a>
              <a href="https://github.com/sookwalinga/green-mile-tunga.git" title="GitHub Repo" target="_blank"><i
                  class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/portfolio/ufarm.jpg')}}" class="img-fluid" alt="" style="width: 20rem" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='assets/img/portfolio/ufarm.jpg')}}" data-gall="portfolioGallery" class="venobox" title="Web 2"
                style="width: 20rem"><i class="bx bx-plus"></i></a>
              <a href="ufarm" title="More Details"><i class="bx bx-link"></i></a>
              <a href="https://ufarm-massajja.herokuapp.com/" title="Webpage" target="_blank"><i
                  class="icofont-web"></i></a>
              <a href="https://github.com/sookwalinga/ufarm.git" title="GitHub Repo" target="_blank"><i
                  class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/ministry_aide_1.png')}}" class="img-fluid" alt="" style="width: 20rem" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='img/ministry_aide_1.png')}}" data-gall="portfolioGallery" class="venobox" title="App 1"
                style="width: 20rem"><i class="bx bx-plus"></i></a>
              <a href="ministry_aide" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/portfolio/friends.jpg')}}" class="img-fluid" alt="" style="width: 20rem" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='img/portfolio/friends.jpg')}}" data-gall="portfolioGallery" class="venobox" title="App 2"
                style="width: 20rem"><i class="bx bx-plus"></i></a>
              <a href="friends" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/portfolio/telewitnessing.jpg')}}" class="img-fluid" alt="" style="width: 20rem" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='img/portfolio/telewitnessing.jpg')}}"data-gall="portfolioGallery" class="venobox"
                title="App 3" style="width: 20rem"><i class="bx bx-plus"></i></a>
              <a href="telewitnessing" title="More Details"><i class="bx bx-link"></i></a>
              <a href="https://drive.google.com/file/d/1a_-ncLrYTKvfcocQ8d-v9dEDJCzZa5jr/view?usp=sharing"
                title="App apk" target="_blank"><i class="bx bx-download"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{{url_for('static', filename='img/portfolio/math-quiz.jpg')}}" class="img-fluid" alt="" />
            <div class="portfolio-links">
              <a href="{{url_for('static', filename='img/portfolio/math-quiz.jpg')}}"data-gall="portfolioGallery" class="venobox"
                title="App 4"><i class="bx bx-plus"></i></a>
              <a href="mathquiz" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Worked Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Work</h2>
        <p>Summary of work experience.</p>
      </div>

      <div class="owl-carousel testimonials-carousel">
        <div class="testimonial-item" data-aos="fade-up">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Worked as an intern in software development - WordPress, web and mobile app developer.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{url_for('static', filename='img/testimonials/neuwelt.png')}}" class="testimonial-img" alt="Neuwelt" />
          <h3>Neuwelt Uganda</h3>
          <h4>Software developer | WordPress | Web | Mobile</h4>
        </div>

        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Working as a part-time web and mobile app developer - building and
            maintaining the Talanta Apps.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{url_for('static', filename='img/testimonials/talanta.jpg')}}" class="testimonial-img" alt="Talanta" />
          <h3>Talanta Sports Agency</h3>
          <h4>Part-time software developer | Web | Mobile</h4>
        </div>

        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Underwent a Bootcamp on web and mobile app development and deployment using React, React Native,
            MongoDB,
            MYSQL, Firebase while
            working on real life projects.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{url_for('static', filename='img/testimonials/refactory.jpg')}}" class="testimonial-img" alt="Refactory" />
          <h3>Refactory Uganda</h3>
          <h4>Bootcamp | Web | Mobile</h4>
        </div>

        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Freelance projects: Mobile and Web Apps.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{url_for('static', filename='img/testimonials/freelancer.jpg')}}" class="testimonial-img" alt="Laptop" />
          <h3>Software Developer</h3>
          <h4>Freelancer | Mobile | Web</h4>
        </div>
        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="500">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Frontend Web & Mobile App Developer. ReactJS, NextJS, Flutter, WordPress.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="{{url_for('static', filename='img/testimonials/worldmerit.png')}}" class="testimonial-img" alt="World Merit" />
          <h3>Software Developer</h3>
          <h4>Web | WordPress | Mobile
          </h4>
        </div>
      </div>
  </section>
  <!-- End Worked Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          I will be glad to hear from you;
        </p>
      </div>

      <div class="row" data-aos="fade-in">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info form-container">
            <form name="contactForm" method="post" onsubmit="submitForm(event)">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="Your name">
              <span class="errors"></span>
              <label for="email">Email</label>
              <input type="text" placeholder="Email address" id="email" name="email">
              <span class="errors"></span>

              <label for="subject">Message</label>
              <textarea placeholder="Your message" cols="13" rows="5" name="subject" id="subject"></textarea>
              <span class="errors"></span>
              <button type="submit" value="Submit">Submit</button>
            </form>
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <iframe title='Location' src="https://maps.google.com/maps?q=Kampala&t=k&z=13&ie=UTF8&iwloc=&output=embed" 
            style="border:0; width: 100%; height: 310px;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
 </main>
 <!-- End #main -->
{%endblock%}

