{%extends "layout.html"%}

{%block title%}
Portfolio Details - Telewitnessing Android Mobile App{%endblock%}

{%block content%}
    <!-- ======= Main ======= -->
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>TeleWitnessing App Details</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Portfoio Details</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="portfolio-details-container">
            <div class="owl-carousel portfolio-details-carousel">
              <img
              src="{{url_for('static', filename='img/telewitnessing (1).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
              <img
              src="{{url_for('static', filename='img/telewitnessing (2).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
              <img
              src="{{url_for('static', filename='img/telewitnessing (3).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
              <img
              src="{{url_for('static', filename='img/telewitnessing (4).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
              <img
              src="{{url_for('static', filename='img/telewitnessing (5).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
              <img
              src="{{url_for('static', filename='img/telewitnessing (6).jpg')}}"
                class="img-fluid"
                alt=""
                style="width: 15rem"
              />
            </div>

            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Android Mobile App</li>
                <li>
                  <strong>Client</strong>: Jehovah's Witnesses in Uganda for
                  telephone witnessing
                </li>
                <li>
                  <strong>Project date</strong>: December, 2020 to January, 2021
                </li>
              </ul>
            </div>
          </div>

          <div class="portfolio-description">
            <h2>TeleWitnessing Android Mobile App</h2>
            <p>
              This project is developed using Java and XML on Android Studio.
            </p>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
  <!-- End #main -->
{%endblock%}